:root {
  --step-width: 20px;
  --step-height: 40px;
  --font-size: calc(var(--step-height) - 10px);

  --led-color-off: #232323;
  --led-color-on: #750000;

  --gray-step-background-off: linear-gradient(
    180deg,
    #525a5f 0%,
    var(--led-color-off) 15%,
    #525a5f 20%,
    #43494d 100%
  );
  --gray-step-background-on: linear-gradient(
    180deg,
    #cfd8dd 0%,
    var(--led-color-on) 15%,
    #cfd8dd 20%,
    #a3adb0 100%
  );
  --red-step-background-off: linear-gradient(
    180deg,
    #605253 0%,
    var(--led-color-off) 15%,
    #605253 20%,
    #524446 100%
  );
  --red-step-background-on: linear-gradient(
    180deg,
    #e1d0d1 0%,
    var(--led-color-on) 15%,
    #e1d0d1 20%,
    #bba7a9 100%
  );
}

.icon {
  display: block;
}

@media screen and (min-width: 576px) {
  :root {
    --step-width: 25px;
    --step-height: 40px;
    --font-size: var(--step-height);
  }

  .icon {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --step-width: 35px;
    --step-height: 50px;
    --font-size: var(--step-height);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #5f686d;
  color: #ffffff;
  font-family: "Silkscreen", serif;
  font-size: var(--font-size);
  padding-top: calc(var(--step-height) * 2);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

input[type="number"] {
  background: linear-gradient(180deg, #7b9091 0%, #596c6d 45%, #7b9091 65%);
  border: 2px solid #000000;
  border-radius: 5px;
  color: #000000;
  font-family: "Silkscreen", serif;
  font-size: var(--font-size);
  outline: none;
}

[data-tooltip]:hover {
  position: relative;
}

[data-tooltip]:hover::before {
  all: initial;
  background-color: #1a1a1a;
  border-radius: 5px;
  bottom: 100%;
  color: #f9f9f9;
  content: attr(data-tooltip);
  display: inline-block;
  font-family: "Silkscreen", serif;
  font-size: 14px;
  left: 50%;
  margin-bottom: 15px;
  padding: 10px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  width: 100px;
}

#root {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.toolbar button {
  font-size: var(--font-size);
  margin-right: 10px;
}

.track {
  margin-bottom: calc(var(--step-height) / 10);
  margin-top: calc(var(--step-height) / 10);
}

.step {
  border: 2.5px solid #000000;
  border-radius: 5px;
  margin-right: calc(var(--step-width) / 10);
  width: var(--step-width);
  height: var(--step-height);

  &[data-index="0"],
  &[data-index="1"],
  &[data-index="2"],
  &[data-index="3"],
  &[data-index="8"],
  &[data-index="9"],
  &[data-index="10"],
  &[data-index="11"] {
    background: var(--gray-step-background-off);

    &.on {
      background: var(--gray-step-background-on);
    }
  }

  &[data-index="4"],
  &[data-index="5"],
  &[data-index="6"],
  &[data-index="7"],
  &[data-index="12"],
  &[data-index="13"],
  &[data-index="14"],
  &[data-index="15"] {
    background: var(--red-step-background-off);

    &.on {
      background: var(--red-step-background-on);
    }
  }

  &.active {
    filter: brightness(80%);
  }
}
