:root {
  --gray-gradient-start: #525a5f;
  --gray-gradient-end: #43494d;
  --gray-on-gradient-start: #cfd8dd;
  --gray-on-gradient-end: #a3adb0;

  --gray-background: linear-gradient(
    180deg,
    var(--gray-gradient-start) 0%,
    var(--gray-gradient-end) 100%
  );
  --gray-on-background: linear-gradient(
    180deg,
    var(--gray-on-gradient-start) 0%,
    var(--gray-on-gradient-end) 100%
  );

  --red-gradient-start: #605253;
  --red-gradient-end: #524446;
  --red-on-gradient-start: #e1d0d1;
  --red-on-gradient-end: #bba7a9;

  --red-background: linear-gradient(
    180deg,
    var(--red-gradient-start) 0%,
    var(--red-gradient-end) 100%
  );
  --red-on-background: linear-gradient(
    180deg,
    var(--red-on-gradient-start) 0%,
    var(--red-on-gradient-end) 100%
  );

  --step-width: 50px;
  --step-height: 80px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #5f686d;
  color: #ffffff;
  font-family: "Silkscreen", serif;
  font-size: var(--step-height);
  padding-top: calc(var(--step-height) * 2);
}

button {
  background: transparent;
  border: none;
  outline: none;
}

input[type="number"] {
  background: #7b9091;
  border: none;
  color: #000000;
  font-family: "Silkscreen", serif;
  font-size: var(--step-height);
  outline: none;
}

[data-tooltip]:hover {
  position: relative;
}

[data-tooltip]:hover::before {
  all: initial;
  background-color: #1a1a1a;
  border-radius: 5px;
  bottom: 100%;
  color: #f9f9f9;
  content: attr(data-tooltip);
  display: inline-block;
  font-family: "Silkscreen", serif;
  font-size: 14px;
  left: 50%;
  margin-bottom: 15px;
  padding: 10px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  width: 100px;
}

#root {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.toolbar button {
  font-size: var(--step-height);
  margin-right: 10px;
}

.track {
  margin-bottom: calc(var(--step-height) / 10);
  margin-top: calc(var(--step-height) / 10);
}

.step {
  border: 2.5px solid #000000;
  border-radius: 5px;
  margin-right: calc(var(--step-width) / 10);
  width: var(--step-width);
  height: var(--step-height);

  &[data-index="0"],
  &[data-index="1"],
  &[data-index="2"],
  &[data-index="3"],
  &[data-index="8"],
  &[data-index="9"],
  &[data-index="10"],
  &[data-index="11"] {
    background: var(--gray-background);

    &.on {
      background: var(--gray-on-background);
    }
  }

  &[data-index="4"],
  &[data-index="5"],
  &[data-index="6"],
  &[data-index="7"],
  &[data-index="12"],
  &[data-index="13"],
  &[data-index="14"],
  &[data-index="15"] {
    background: var(--red-background);

    &.on {
      background: var(--red-on-background);
    }
  }

  &.active {
    filter: brightness(80%);
  }
}
